.podcast-card {
    width: 250px;
    min-height: 250px;

    background: linear-gradient(
        177.7deg,
        rgba(58,129,191,0.3) 1.63%,
        rgba(65,48,90,0.009) 148.18%
    );

    border-radius: 1rem;
    padding: 0.5rem;
    opacity: 0.7;
    cursor: pointer;
}

.banner-wrapper {
    background: linear-gradient(
        177.7deg,
        rgba(58,129,191,0.3) 1.63%,
        rgba(65,48,90,0.009) 148.18%
    );

    border-radius: 1rem;
    padding: 0.5rem;
}

.display-img-podcast{
    width: 100%;
    height: 230px;
    border: 1.5rem;
    border-top-left-radius: .8rem;
    border-top-right-radius: .8rem;
}

.podcast-card:hover{
    opacity: 1;
    transition: all 0.3s;
}

.title-podcast {
    color: var(--white);
    text-decoration: none !important;
    margin: .5rem 0rem;
}